body{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}

header,
sidenav,
main content,
sideber,
footer {
    padding: 12px;
    text-align: center;
}

header{
    background-color: tomato;
    height: 60px;
}

.columns{
    display: flex;
    flex-grow: 1;
}

sidenav{
    background-color: coral;
    flex-shrink: 0;
    width: 100px;
}

main{
    background-color: moccasin;
    flex-grow: 1;
}

sideber{
    background-color: sandybrown;
    flex-shrink: 0;
    width: 100px;
}

footer {
    background-color: slategray;
    height: 100px;
}
